body {
    margin: 0;
    padding: 0;
}


.loader .inner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:80px;
    text-align: center;
}

.loader h1 {
    height: 160px;
    margin: 0;
    padding: 0;
    font-size: 66px;
    color: rgba(118, 0, 248, 0.38);
    background-size: 101% 100%;
    background-position: left 0px bottom -40px;
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 90 240 300' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='500' height='800' style='stroke: none; fill: rgb(255,255,255);' /%3E%3Cpath d='M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z' style='stroke: none;'%3E%3C/path%3E%3C/svg%3E");
    animation: wave 3s both linear
}

@keyframes wave {
    0% {
        background-position: left 0px bottom -80px;
    }
    100% {
        background-position: left 1500px bottom 20px;
    }
}

/*----------------------------------------- 프로필 -----------------------------------------------*/

.profile-main{
    display: flex;
    position: fixed;
    flex-direction: column;
    border: 1px ;
    background-color: #f5f5f5;
    border-radius: 15px;
    width: 1841px;
    left: 40px;
    top: 130px;
    z-index: 0;
    height: 750px;

}

/*-----------------------------------------------------------------------------------------------*/
.profile-img{
    text-align: center;
    margin-left: 50px;
    padding: 30px;
    background-color: white;
    width: 300px;
    min-height: 300px;
    border-radius: 15px;
}

.profile-password{
    border-radius: 6px;
    border: 1px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    box-shadow: 1px 3px 0 rgb(0,0,0,0.5);
    background-color: #583ea2;
    color: white;
}

.profile-password:active{
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
}

/*-----------------------------------------------------------------------------------------------*/
.profile-submain{
    border: 1px;
    background-color: white;
    border-radius: 15px;
    max-width: 1000px;
    position: relative;
    left: 400px;
    bottom: 305px;


}

.profile-submain > tbody> tr> td> p{
    margin-bottom: 35px;
    font-size: 18px;

}

.profile-submain > tbody> tr> td{
    min-width: 5px;
}

.sub-td{
    display: flex;
    position: relative;
    right: 250px;
}

.info-fix{
    border-radius: 6px;
    border: 1px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    box-shadow: 1px 3px 0 rgb(0,0,0,0.5);
    background-color: #583ea2;
    color: #d9d9d9;
    position: relative;
    left: 1250px;
    bottom: 350px;
}

.info-fix:active{
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
}

/*-----------------------------------------------------------------------개인정보 모달 창----------------------------------------------------------------------------------*/

.info-box{
    border: 1px ;
    border-radius: 15px;
    background-color: #ffffff;
    width: 350px;
    height: 590px;
    position: relative;
    top: 140px;
    left: 1480px;
    z-index: 1;
}

.info-box >table >tbody > tr> td{
    margin: 10px;
}

.info-input1{
    width: 190px;
    height: 40px;
    border-color: rgb(202, 184, 255);
    margin: auto;
}

.info-input2{
    height: 40px;
    width: 250px;
    border-color: rgb(202, 184, 255);
    justify-content: center;

}

/*----------------------------비번 수정-----------------------------------*/

.password-update-table1{
    z-index: 1;
    background-color: #ffffff;
    position: relative;
    top: 500px;
    left: 96px;
    width: 280px;
    border-radius: 15px;
    text-align: center;
}

.password-update-table2{
    z-index: 1;
    background-color: #ffffff;
    position: relative;
    top: 500px;
    left: 95px;
    width: 280px;
    border-radius: 15px;
    text-align: center;
}

.choose-profile-sub{
    background-color: #f5f5f5;
    width: 120px;
    position: relative;
    left: 300px;
    top: 310px;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
 }

.choose-profile-sub > tbody > tr:hover{
    background-color: rgba(0, 0, 0, 0.09);
    cursor: pointer;
}

.td-test{
    z-index: 1000;
    background-color: red;
}


/*----------imgUpload-----------*/
.imageUpload{
    border: 1px solid rgba(0, 0, 0, 0);
    top: 280px;
    left: 480px;
    z-index: 500;
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #f5f5f5;
    display: grid;
    align-content: center;
    justify-items: center;
    border-radius: 15px;
}

.member-profile-img{
    margin: 15px 0px 30px 15px;
    width: 130px;
    height: 110px;
}

.imageUpload > button{
    width: 200px;
    border-radius: 15px;
    height: 50px;
    font-weight: bolder;
    color: white;
    background-color: #5a38a8;
    border-color: rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;

}
