body {
    margin: 0;
    padding: 0;
}


.loader .inner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:80px;
    text-align: center;
}

.loader h1 {
    height: 160px;
    margin: 0;
    padding: 0;
    font-size: 66px;
    color: rgba(118, 0, 248, 0.38);
    background-size: 101% 100%;
    background-position: left 0px bottom -40px;
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 90 240 300' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='500' height='800' style='stroke: none; fill: rgb(255,255,255);' /%3E%3Cpath d='M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z' style='stroke: none;'%3E%3C/path%3E%3C/svg%3E");
    animation: wave 3s both linear
}

@keyframes wave {
    0% {
        background-position: left 0px bottom -80px;
    }
    100% {
        background-position: left 1500px bottom 20px;
    }
}

/*----------------------------------------- 프로필 -----------------------------------------------*/

.profile-main{
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px ;
    background-color: #f5f5f5;
    border-radius: 15px;
    width: 1850px;
    left: 40px;
    top: 35px;
    z-index: 0;
    height: 750px;
}

/*-----------------------------------------------------------------------------------------------*/
.profile-img{
    border: 1px;
    max-width: 150px;
    text-align: center;
    margin-left: 50px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
}

.profile-password{
    border-radius: 6px;
    border: 1px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    box-shadow: 1px 3px 0 rgb(0,0,0,0.5);
    background-color: #583ea2;
    color: white;
}

.profile-password:active{
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
}

/*-----------------------------------------------------------------------------------------------*/
.profile-submain{
    border: 1px;
    background-color: white;
    border-radius: 15px;
    max-width: 1000px;
    position: relative;
    left: 450px;
    bottom: 240px;


}

.profile-submain > tbody> tr> td> p{
    margin-bottom: 35px;
    font-size: 18px;

}

.profile-submain > tbody> tr> td{
    min-width: 5px;
}

.sub-td{
    display: flex;
    position: relative;
    right: 250px;
}

.info-fix{
    border-radius: 6px;
    border: 1px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    box-shadow: 1px 3px 0 rgb(0,0,0,0.5);
    background-color: #583ea2;
    color: white;
    position: relative;
    left: 850px;
    bottom: 90px;
}

.info-fix:active{
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
}