/*.main-container {*/
/*    margin-top: 200px;*/
/*}*/

/*table {*/
/*    border-collapse: collapse;*/
/*}*/

/*thead {*/
/*     background-color: #5929d9;*/
/* }*/

/*h2 {*/
/*    margin-left: 15%;*/
/*    margin-bottom: 3%;*/
/*}*/

/*.table-container {*/
/*    width: 1350px;*/
/*    margin-left: 14%;*/
/*}*/

/*th {*/
/*    font-size: 16px;*/
/*    padding-bottom: 1.5%;*/
/*}*/

/*td {*/
/*    font-size: 15px;*/
/*    padding-left: 2%;*/
/*    padding-bottom: 3%;*/
/*}*/

/*.teacher{*/
/*    padding-left: 4%;*/
/*}*/

/*.dayStatus {*/
/*    padding-left: 4%;*/
/*}*/

/*.curCnt, .timeStatus  {*/
/*    padding-left: 4.6%;*/
/*}*/

/*.roomName {*/
/*    padding-left: 3.5%;*/
/*}*/

/*.attendButton {*/
/*    width: 75px;*/
/*}*/

/*.sdtEdt {*/
/*    padding-left: 5%;*/
/*}*/


/* InProgressList.css */

/* 전체 정렬 */
.main-container {
    width: 70%;
    margin: 3% 0 0 20%;
}

.table-container {
    display: flex;
    flex-direction: column;
}

/* 가로 정렬 고정 */
.table-row {
    display: flex;
    border-bottom: 1px solid #ddd;
}

/* 테이블 모양 유지 */
.table-cell {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.header {
    font-weight: bold;
    font-size: 16px;
}

.teacher {
    /* Additional styles for teacher column if needed */
}

.dayStatus {
    /* Additional styles for dayStatus column if needed */
}

.timeStatus {
    /* Additional styles for timeStatus column if needed */
}

.curCnt {
    /* Additional styles for curCnt column if needed */
}

.roomName {
    /* Additional styles for roomName column if needed */
}

.sdtEdt {
    /* Additional styles for sdtEdt column if needed */
}

.attendButton {
    padding: 8px;
    border-radius: 5px;
    /*border: 0px;*/
    background-color: #5929d9;
    color: #fff;
    cursor: pointer;
}

.attendButton:hover {
    background-color: #0056b3;
}

