
/*Paging*/
.pagenationM{
    width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 8%;
}

.pagingM-ul {
    display: flex;
    justify-content: center;
    list-style-type : none;
    margin-bottom: 30px;
}

.pagingM-btn{
    margin: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    color: #333333;
    font-size: 14px;
}


/* ================= 내 강의 ================ */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


/* 전체 정렬 */
.main-container {
    width: 70%;
    margin: 4% 0 0 20%;
    font-family: 'Pretendard-Regular', serif;
}

.table-container {
    display: flex;
    flex-direction: column;
}

/* 가로 정렬 고정 */
.table-row {
    display: flex;
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 1%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.course-info-cell .table-cell {
    margin: 10px;
    text-align: left;
}

.course-info-cell .table-row:hover {
    background-color: #f1f1f1;
}

/* 테이블 모양 유지 */
.table-cell {
    flex: 1;
    padding: 8px;
    text-align: center;
}

.thead {
    font-weight: bolder;
    font-size: 15px;
    color: #484848;
}

.course-header {
    border-bottom: 1px solid #e7e7e7;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tinfo {
    font-size: 14px;
    padding-left: 2%;
}

.attendButton {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #733fff;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.attendButton:hover {
    background-color: #ffffff;
    color: #333333;
    font-weight: bolder;
    border-bottom: 1px solid;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}

.cosName{
  padding-right: 3%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-info-cell {
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: 1%;

}

.course-info-cell .table-cell {
    margin: 15px 5px; /* 상하 10px, 좌우 5px */
}

.cosName,
.teacher,
.dayStatus,
.timeStatus,
.curCnt,
.roomName {
    padding-top: 15px;
}

.teacher {
    padding-right: 10px;
}

.course-name-description {
    font-size: 12px;
    padding-left: 10px;
}



 /* ============= detail info modal ==============*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1001;
}

.modal-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.modal-container th, .modal-container td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.modal-container th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

.modal-container td {
    color: #666;
}

.modal-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

.modal-container tr:hover {
    background-color: #f1f1f1;
}

.modal-close-button {
    display: block;
    margin: 20px auto;
    padding: 8px 16px;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    border: solid 1px #5929d9;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-close-button:hover {
    background-color: #8030ff;
    color: white;
}


/* ================= 내 강의 사이드 바 ================= */

.my-course-side-bar-box {
    font-family: 'Pretendard-Regular', serif;
    position: fixed;
    padding-top: 6%;

}

.my-course-bar {
    position: fixed;
    padding-left: 11.5%;
    font-size: 16px;
    color: #333333;
}

.in-progress {
    margin-top: 1%;

}

.scheduled {
     margin-top: 2.7%;
 }

.last {
    margin-top: 4.5%;
}



/* 일별 출석부 */
.daily-attendance-main-container {
    font-family: 'Pretendard-Regular', serif;
    font-size: 15px;
    width: 80%;
    padding-top: 5%;

    /* 텍스트 입력 시 깜빡임 제거 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.month-attend-select-button {
    margin: 0 0 0 85%;
}
.attend-regist-button {
    margin: 0 0 0 95%;
}

.daily-attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.daily-attendance-table th,
.daily-attendance-table td {
    border: 1px solid #DEE2E6;
    padding: 10px;
    text-align: center;
}

.daily-attendance-table th {
    background-color: #f0f0f2;
}

.daily-attendance-table tbody tr:hover {
    background-color: #f0f0f2;
}

/* Select Box Styling */
.daily-attendance-table select {
    width: 50%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid rgba(115, 0, 255, 0.73);
    border-radius: 5px;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.73);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="rgba(0, 0, 0, 0.73)" height="24" width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z" /></svg>');
    background-repeat: no-repeat;
    background-position: right 2px center;
    text-align-last: center;
    text-align: center;
}

.daily-attendance-table select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(98, 0, 255, 0.7);
}

.left-button {
    z-index: 100;
    padding-right: 1.5%;
    font-size: 22px;
    cursor: pointer;
}

.right-button {
    z-index: 1000;
    padding-left: 1.5%;
    font-size: 22px;
    cursor: pointer;
}

.daily-attendance-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.daily-attendance-title {
    flex: 1;
    text-align: left;
}

.date-picker-container {
    flex: 2;
    text-align: center;
}

.buttons-container {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.month-attend-select-button,
.attend-regist-button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    border: solid 1px #8030ff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.month-attend-select-button:hover,
.attend-regist-button:hover {
    background-color: #ffffff;
    color: #8030ff;
}

/* 기존 CSS 스타일링을 유지하면서 클래스 이름 변경 */
.daily-attendance-main-container {
    font-family: 'Pretendard-Regular', serif;
    font-size: 15px;
    width: 80%;
    margin: 0 auto;
}



/* 월별 출석부 */

.month-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.month-table th, .month-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.calendarHeader th {
    background-color: #f4f4f4;
    color: #333;
}

.month-td {
    white-space: nowrap;
}

/* 출석 상태별 스타일 */
.status-attendance {
    color: #000000;
}

.status-absence {
    color: #000000;
}

.status-tardiness {
    color: #000000;
}

.status-leave_early {
    color: #000000;
}


@media screen and (max-width: 600px) {
    .month-table,
    .month-table thead,
    .month-table tbody,
    .month-table th,
    .month-table td,
    .month-table tr {
        display: block;
    }

    .calendarHeader th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .month-td {
        border: none;
        position: relative;
        padding-left: 50%;
    }

    .month-td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .month-table td:nth-of-type(1):before { content: "No"; }
    .month-table td:nth-of-type(2):before { content: "원생명"; }
}

.grey-out {
    background-color: #efefef;
}

.month-table {
    width: 90%;
    margin-left: 5%;
}


.month-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 2%;
}

.month-title-container {
    flex: 1;
    text-align: left;
}

.month-datepicker-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-right: 25%;
    font-size: 20px;
}

.month-h2-title {
    margin-left: 19%;
    margin-top: 15%;
}

.month-button {
    border: none;
    background-color: white;
    font-size: 25px;
}

.month-description {
    font-size: 14px;
    margin : 0 0 0.2% 5%;
}

.weekend .day-of-week,
.weekend .day-number {
    color: #da0000; /* 주말 날짜와 요일의 색상을 빨간색으로 설정 */
}

tfoot {
    background-color: #f8f8f8;
}