/*Paging*/
.pagenation{
    width: 1100px;
    margin: 0 auto;
}

.paging-ul {
    display: flex;
    justify-content: center;
    list-style-type : none;
    margin-bottom: 30px;
}

.paging-btn{
    margin: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    color: #333333;
    font-size: 14px;
}

/*강의 테이블*/
.lecture-table{
    width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    border-collapse: collapse;
    font-size: 14px;
}

td{
    border: 1px solid  #f0f0f2;
    padding: 10px;
    height: 40px;
}

tbody>tr:hover{background: #3a74d614}

thead{background: #f0f0f2}
tbody{border-top: 2px solid #727476;}



.courseListWrap{
    border-top: 2px solid #e2e2e4;
    margin: 0 auto;
    width: 1100px;
    padding: 0;
}
.courseList{
    list-style: none;
    padding: 0;
}

.courseList>li{
    width: 100%;
    border-bottom: 1px solid #e2e2e4;
}

.content{
    height: 270px;
    padding: 7px 40px;
}

.content>p{
    cursor: pointer;
}
.content>p:hover{
    text-decoration: underline;
}

.courseInfo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 13px;
}

dl{
    display: flex;
    width: 50%;
}

dt{
    border: 1px solid #d3d3d3;
    border-radius: 12px;
    min-width: 80px;
    line-height: 25px;
    padding: 0 8px;
    text-align: center;
}

dd{
    margin-left: 20px;
    line-height: 25px;

}

.statusTag{
    border-radius: 12px;
    min-width: 80px;
    line-height: 25px;
    color: white;
    padding: 3px 12px;
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    vertical-align: top;
}

.courseTitle{
    font-size: 20px;
}

.courseFilterWrap{
    width: 1100px;
    margin: 0 auto;
    margin-top: 100px;

}

.courseDetailWrap{
    width: 1100px;
    border: 3px solid #e2e2e4;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px;
}

.titleBox{
    border-bottom: 1px solid #e2e2e4 ;
    padding-bottom: 30px;
}

.notice{
    border-top: 1px solid #e2e2e4;
}

.calendarContainer{
    margin: 0 auto;
    margin-top: 100px;
    width: 1100px;
}

.fc-toolbar-chunk button{border: none;}